<p>Hallo <%= @user %></p>
<p>Klicke auf den folgenden Link, um ein neues Kennwort zu setzen:</p>
<p><a href="<%= @url %>">Kennwort neu vergeben</a></p>
<p>Der Link ist eine halbe Stunde lang gültig. Viel Spaß bei der Wörtersuche mit Sechzehn!</p>
<p>Gruß<br />
-Marcus</p>