<div class="input-group mb-1">
  <div class="input-group-prepend">
    <span class="input-group-text"><%= bootstrap_icon 'envelope' %></span></span>
  </div>
  <%= email_field_tag :email, nil, class: 'form-control', placeholder: t('activerecord.models.attributes.user.email'), value: params[:email] %>
</div>
<div class="form-group">
  <%= form.button 'E-Mail mit Kennwort senden', class: 'btn btn-primary btn-block', id: 'reminder', name: 'reminder', title: 'E-Mail mit Kennwort senden' %>
  <%= link_to 'Abbrechen', root_path, id: 'cancel', class: "btn btn-outline-secondary btn-block", title: 'Zurück zum Spiel' %>
</div>