<div class="jumbotron">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'logo.png' %>
    </div>
    <div class="col-md-8">
      <h1>HTTP 500</h1>
      <p>Das hätte nicht passieren dürfen. Irgendwas ist komplett kaputt, und ich weiß noch nicht was. Vielleicht hilft ein neuer Versuch.</p>
      <p><br /><br /><a href="/"><span class="btn-lg btn-default pull-right">Weiter</span></a></p>
    </div>
  </div>
</div>
