  <div class="jumbotron">
    <div class="row">
      <div class="col-lg-4">
        <%= image_tag 'logo.png' %>
      </div>
      <div class="col-lg-8">
        <h1>Wartungsarbeiten</h1>
        <p class="text-justify">Sechzehn kann leider für einige Minuten nicht gespielt werden. Wir sind gleich wieder für euch da!</p>
        <p class="text-right"><br /><br /><a class="btn btn-lg btn-primary" href="/">Weiter</a></p>
      </div>
    </div>
  </div>
