<div class="jumbotron">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'logo.png' %>
    </div>
    <div class="col-md-8">
      <h1>Cookies</h1>
      <p>Sechzehn kann nur dann gespielt werden, wenn der Browser Cookies annehmen darf.</p>
      <div class="text-warning">Nachdem die Browsereinstellungen von Dir geändert wurden, muss gegebenenfalls der Browser neu gestartet werden. Auf jeden Fall muss Sechzehn neu aufgerufen werden.</div>
      <p><br /><br /><a href="/"><span class="btn-lg btn-default pull-right">Weiter</span></a></p>
    </div>
  </div>
</div>
