<div class="jumbotron">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'logo.png' %>
    </div>
    <div class="col-md-8">
      <h1>HTTP 422</h1>
      <p>Die Anfrage kann nicht verarbeitet werden. Vermutlich ist nur Deine Session abgelaufen. Versuch es einfach noch einmal.</p>
      <p><br /><br /><a href="/"><span class="btn-lg btn-default pull-right">Weiter</span></a></p>
    </div>
  </div>
</div>
