<tr>
  <td><%= score[:rank] %></td>
  <td><div class="username"><%= score[:name] %></div></td>
  <td class="text-right"><%= score[:count] %></td>
  <td class="text-right"><%= score[:value] %></td>
</tr>