  <div class="jumbotron">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag 'logo.png' %>
      </div>
      <div class="col-md-8">
        <h1>HTTP 422</h1>
        <p>Eigentlich ist alles okay. Aber die aktuelle Anfrage passt irgendwie nicht ins Konzept, und kann deshalb nicht verarbeitet werden.</p>
        <p><br /><br /><%= link_to root_path do %><span class="btn-lg btn-default pull-right">Weiter</span><%end%></p>
      </div>
    </div>
  </div>
