      <div class="row">
        <div class="col-md-8">
          <h2>Spielidee</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <p><span class="sechzehn">SECHZEHN</span> ist ein an <a href="de.wikipedia.org/wiki/Boggle">Boggle</a> angelehntes Denkspiel. In einem Feld von vier mal vier Buchstaben sollen so viele Wörter wie möglich gefunden werden. <span class="sechzehn">SECHZEHN</span> ist ein Multiplayer Spiel. Es kann von mehreren Spielern gleichzeitig gespielt werden. Am Ende jeder Spielrunde werden die möglichen Worte, und eine Rangliste ausgegeben.</p>
          <p>Um mitspielen zu können, muss man einen Spieler mit Spielernamen und Kennwort erstellen. Damit man sich nicht jedes Mal anmelden muss, legt <span class="sechzehn">SECHZEHN</span> ein Cookie auf dem Rechner ab. Dieses wird gelöscht, sobald man sich abmeldet. <span class="sechzehn">SECHZEHN</span> kostet nichts, und speichert keine Daten.</p>
          <h2>Regeln</h2>
        </div>
        <div class="col-md-2">
          <div id="l0" class="letternw small-dice">
            <span class="vmiddle">I</span>
          </div>
          <div id="l1" class="letter small-dice" style="background-color: #FFFF80">
            <span class="vmiddle">M</span>
          </div>
          <div id="l2" class="letter small-dice">
            <span class="vmiddle">D</span>
          </div>
          <div id="l3" class="letterne small-dice">
            <span class="vmiddle">R</span>
          </div>
          <div style="clear: left"></div>
          <div id="l4" class="letter small-dice">
            <span class="vmiddle">R</span>
          </div>
          <div id="l5" class="letter small-dice" style="background-color: #FFFF80">
            <span class="vmiddle">E</span>
          </div>
          <div id="l6" class="letter small-dice">
            <span class="vmiddle">C</span>
          </div>
          <div id="l7" class="letter small-dice">
            <span class="vmiddle">Z</span>
          </div>
          <div style="clear: left"></div>
          <div id="l8" class="letter small-dice" style="background-color: #FFFF80">
            <span class="vmiddle">E</span>
          </div>
          <div id="l9" class="letter small-dice">
            <span class="vmiddle">S</span>
          </div>
          <div id="l10" class="letter small-dice">
            <span class="vmiddle">E</span>
          </div>
          <div id="l11" class="letter small-dice">
            <span class="vmiddle">H</span>
          </div>
          <div style="clear: left"></div>
          <div id="l12" class="lettersw small-dice">
            <span class="vmiddle">H</span>
          </div>
          <div id="l13" class="letter small-dice" style="background-color: #DFDF00">
            <span class="vmiddle">R</span>
          </div>
          <div id="l14" class="letter small-dice">
            <span class="vmiddle">U</span>
          </div>
          <div id="l15" class="letterse small-dice">
            <span class="vmiddle">D</span>
          </div>
          <div style="clear: left"></div>
        </div>
        <div class="col-md-2">
          <div id="l0" class="letternw small-dice">
            <span class="vmiddle">I</span>
          </div>
          <div id="l1" class="letter small-dice">
            <span class="vmiddle">M</span>
          </div>
          <div id="l2" class="letter small-dice">
            <span class="vmiddle">D</span>
          </div>
          <div id="l3" class="letterne small-dice">
            <span class="vmiddle">R</span>
          </div>
          <div style="clear: left"></div>
          <div id="l4" class="letter small-dice">
            <span class="vmiddle">R</span>
          </div>
          <div id="l5" class="letter small-dice" style="background-color: #DFDF00">
            <span class="vmiddle">E</span>
          </div>
          <div id="l6" class="letter small-dice">
            <span class="vmiddle">C</span>
          </div>
          <div id="l7" class="letter small-dice">
            <span class="vmiddle">Z</span>
          </div>
          <div style="clear: left"></div>
          <div id="l8" class="letter small-dice">
            <span class="vmiddle">E</span>
          </div>
          <div id="l9" class="letter small-dice" style="background-color: #FFFF80">
            <span class="vmiddle">S</span>
          </div>
          <div id="l10" class="letter small-dice" style="background-color: #FFFF80">
            <span class="vmiddle">E</span>
          </div>
          <div id="l11" class="letter small-dice">
            <span class="vmiddle">H</span>
          </div>
          <div style="clear: left"></div>
          <div id="l12" class="lettersw small-dice">
            <span class="vmiddle">H</span>
          </div>
          <div id="l13" class="letter small-dice">
            <span class="vmiddle">R</span>
          </div>
          <div id="l14" class="letter small-dice" style="background-color: #FFFF80">
            <span class="vmiddle">U</span>
          </div>
          <div id="l15" class="letterse small-dice" style="background-color: #FFFF80">
            <span class="vmiddle">D</span>
          </div>
          <div style="clear: left"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <p>Finde innerhalb von drei Minuten so viele Worte wie möglich. Dabei müssen die Buchstaben eine Kette bilden. Ein Wort muss mindestens drei Buchstaben lang sein. In einem Wort darf kein Buchstabenfeld mehrfach genutzt werden. Wie im Beispiel zu sehen, sind <b>MEER</b> und <b>DUESE</b> gültige Wörter.</p>
          <p>Die Buchstaben Ä, Ö, Ü und ß gibt es nicht. Sie müssen durch benachbarte AE, OE, UE und SS gebildet werden. Der Buchstabe Q kommt nicht alleine vor. Stattdessen ist ein Buchstabenfeld mit Qu beschriftet. Beide Buchstaben müssen bei der Wortsuche eingetippt werden.</p>
          <h2>Wertung</h2>
          <p>Gewertet werden alle Wörter außer:</p>
          <ul>
            <li>geografische Bezeichnungen</li>
            <li>Eigennamen</li>
            <li>Abkürzungen</li>
          </ul>
          <p>Sollten Wörter fehlen, oder ungültige Wörter im Wörterbuch enthalten sein, kann dies über <a href="#">Wort melden</a> mitgeteilt werden. Jede Hilfe bei der Pflege des Wörterbuches, auch Hinweise auf frei verfügbare Wortlisten, sind immer willkommen.</p>
        </div>
        <div class="col-md-4">
          <table class="table">
            <tr><th>Wortlänge</th><th>Wertung</th></tr>
            <tr><td>3 Buchstaben</td><td>1 Punkt</td></tr>
            <tr><td>4 Buchstaben</td><td>1 Punkt</td></tr>
            <tr><td>5 Buchstaben</td><td>2 Punkt</td></tr>
            <tr><td>6 Buchstaben</td><td>3 Punkt</td></tr>
            <tr><td>7 Buchstaben</td><td>5 Punkt</td></tr>
            <tr><td>8+ Buchstaben</td><td>11 Punkte</td></tr>
          </table>
        </div>
      </div>
