
      <div class="row">
        <div class="col-md-8">
          <h2>Spielidee</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <p><span class="sechzehn">SECHZEHN</span> ist ein von <a href="http://de.wikipedia.org/wiki/Boggle">Boggle</a> inspiriertes online Multiplayer Browserspiel. In einem Feld von vier mal vier Buchstaben sollen so viele Wörter wie möglich gefunden werden. <span class="sechzehn">SECHZEHN</span> kann von mehreren Spielern gleichzeitig gespielt werden. Am Ende jeder Spielrunde werden die möglichen Worte, und eine Spielerwertung ausgegeben.</p>
          <p>Zum Mitspielen ist keine Anmeldung erforderlich. Jedoch können sich nur registrierte Spieler einen Namen aussuchen und in der Rangliste aufgeführt werden. Für die Registrierung muss ein Spielername mit Kennwort angelegt werden. Damit man sich nicht jedes Mal anmelden muss, legt <span class="sechzehn">SECHZEHN</span> ein Cookie auf dem Rechner ab. Dieses wird gelöscht, sobald man sich abmeldet.</p>
          <h2>Bedienung</h2>
        </div>
        <div class="col-md-4">
          <div class="nw small-dice">I</div>
          <div class="small-dice" style="background-color: #FFFF80">M</div>
          <div class="small-dice">D</div>
          <div class="ne small-dice">R</div>
          <div class="nw small-dice" style="margin-left: 2em">I</div>
          <div class="small-dice">M</div>
          <div class="small-dice">D</div>
          <div class="ne small-dice">R</div>
          <div style="clear: left"></div>
          <div class="small-dice">R</div>
          <div class="small-dice" style="background-color: #FFFF80">E</div>
          <div class="small-dice">C</div>
          <div class="small-dice">Z</div>
          <div class="small-dice" style="margin-left: 2em">R</div>
          <div class="small-dice" style="background-color: #DFDF00">E</div>
          <div class="small-dice">C</div>
          <div class="small-dice">Z</div>
          <div style="clear: left"></div>
          <div class="small-dice" style="background-color: #FFFF80">E</div>
          <div class="small-dice">S</div>
          <div class="small-dice">E</div>
          <div class="small-dice">H</div>
          <div class="small-dice" style="margin-left: 2em">E</div>
          <div class="small-dice" style="background-color: #FFFF80">S</div>
          <div class="small-dice" style="background-color: #FFFF80">E</div>
          <div class="small-dice">H</div>
          <div style="clear: left"></div>
          <div class="sw small-dice">H</div>
          <div class="small-dice" style="background-color: #DFDF00">R</div>
          <div class="small-dice">U</div>
          <div class="se small-dice">D</div>
          <div class="sw small-dice" style="margin-left: 2em">H</div>
          <div class="small-dice">R</div>
          <div class="small-dice" style="background-color: #FFFF80">U</div>
          <div class="se small-dice" style="background-color: #FFFF80">D</div>
          <div style="clear: left"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <p>Man kann die Wörter eintippen, oder mit der Maus markieren. Dazu den ersten Buchstaben eines Wortes anklicken, und dann bei gedrückter Maustaste über die weiteren Buchstaben des Wortes fahren. Sobald man die linke Maustaste loslässt, wird das markierte Wort übernommen. Bei Geräten mit Touch-Input kann auch der Finger benutzt werden.</p>
          <h2>Regeln</h2>
          <p>Finde innerhalb von drei Minuten so viele deutsche Wörter wie möglich. Dabei müssen die Buchstaben eine Kette bilden. Ein Wort muss mindestens drei Buchstaben lang sein. Und in einem Wort darf kein Buchstabenfeld mehrfach genutzt werden. Wie im Beispiel zu sehen, sind <b>MEER</b> und <b>DUESE</b> gültige Wörter.</p>
          <p>Die Buchstaben Ä, Ö, Ü und ß gibt es nicht. Sie müssen durch benachbarte AE, OE, UE und SS gebildet werden. Der Buchstabe Q kommt nicht alleine vor. Stattdessen ist ein Buchstabenfeld mit Qu beschriftet. Beide Buchstaben müssen bei der Wortsuche eingetippt werden.</p>
          <h2>Wertung</h2>
        </div>
        <div class="col-md-4">
          <table class="table">
            <tr><th>Wortlänge</th><th>Wertung</th></tr>
            <tr><td>3 Buchstaben</td><td>1 Punkt</td></tr>
            <tr><td>4 Buchstaben</td><td>1 Punkt</td></tr>
            <tr><td>5 Buchstaben</td><td>2 Punkt</td></tr>
            <tr><td>6 Buchstaben</td><td>3 Punkt</td></tr>
            <tr><td>7 Buchstaben</td><td>5 Punkt</td></tr>
            <tr><td>8+ Buchstaben</td><td>11 Punkte</td></tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <p>Gewertet werden alle Wörter außer:</p>
          <ul>
            <li>geografische Bezeichnungen</li>
            <li>Eigennamen und Markennamen</li>
            <li>Abkürzungen</li>
          </ul>
          <p>Die in der Rangliste angegebene Stufe (<a href="http://de.wikipedia.org/wiki/Elo-Zahl">Elo-Zahl</a>) eines Spielers errechnet sich aus Spielen, die gegen andere Spieler gespielt wurden. Dabei werden für die Neuberechnung der eigenen Spielstufe, die Stufen der besiegten und siegreichen Gegner einbezogen.</p>
        </div>
        <div class="col-md-2">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="W8E6WGUYY39LY">
            <input type="image" src="https://www.paypalobjects.com/de_DE/DE/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
            <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
          </form>
          <div class="fb-like" data-href="https://www.facebook.com/pages/Sechzehn/1450963481800607" data-layout="box_count" data-action="like" data-show-faces="false" data-share="true"></div>
        </div>
        <div class="col-md-2">
          <p class="small" style="padding-top: 6px; padding-bottom: 22px"><a href="mailto:wortspiel@sechzehn.org">Marcus Petzoldt</a><br />
            Beedstraße 51a<br />
            40468 Düsseldorf<br />
          </p>
          <div class="g-plusone" style="margin: 22px;" data-size="tall" href="spiele.sechzehn.org"></div>
        </div>
      </div>
