      <div class="row">
        <div class="col-md-8">
          <h2>Spielidee</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <p><span class="sechzehn">SECHZEHN</span> ist ein an <a href="http://de.wikipedia.org/wiki/Boggle">Boggle</a> angelehntes Denkspiel. In einem Feld von vier mal vier Buchstaben sollen so viele Wörter wie möglich gefunden werden. <span class="sechzehn">SECHZEHN</span> kann von mehreren Spielern gleichzeitig gespielt werden. Am Ende jeder Spielrunde werden die möglichen Worte, und eine Spielerwertung ausgegeben.</p>
          <p>Um mitspielen zu können, muss man einen Spieler mit Spielernamen und Kennwort erstellen. Damit man sich nicht jedes Mal anmelden muss, legt <span class="sechzehn">SECHZEHN</span> ein Cookie auf dem Rechner ab. Dieses wird gelöscht, sobald man sich abmeldet.</p>
          <h2>Bedienung</h2>
          <p>Man kann die Wörter in das dafür vorgesehene Eingabefeld eintippen, und jeweils mit der Eingabetaste bestätigen. Wer nicht so schnell tippen kann, darf auch die Maus benutzen. Den ersten Buchstaben eines Wortes anklicken, und dann bei gedrückter Maustaste über die weiteren Buchstaben des Wortes fahren. Sobald man die linke Maustaste loslässt, wird das markierte Wort übernommen. Bei Geräten mit Touch-Input kann auch der Finger benutzt werden.</p>
        </div>
        <div class="col-md-2">
          <div id="l0" class="nw small-dice">I</div>
          <div id="l1" class="small-dice" style="background-color: #FFFF80">M</div>
          <div id="l2" class="small-dice">D</div>
          <div id="l3" class="ne small-dice">R</div>
          <div style="clear: left"></div>
          <div id="l4" class="small-dice">R</div>
          <div id="l5" class="small-dice" style="background-color: #FFFF80">E</div>
          <div id="l6" class="small-dice">C</div>
          <div id="l7" class="small-dice">Z</div>
          <div style="clear: left"></div>
          <div id="l8" class="small-dice" style="background-color: #FFFF80">E</div>
          <div id="l9" class="small-dice">S</div>
          <div id="l10" class="small-dice">E</div>
          <div id="l11" class="small-dice">H</div>
          <div style="clear: left"></div>
          <div id="l12" class="sw small-dice">H</div>
          <div id="l13" class="small-dice" style="background-color: #DFDF00">R</div>
          <div id="l14" class="small-dice">U</div>
          <div id="l15" class="se small-dice">D</div>
          <div style="clear: left"></div>
        </div>
        <div class="col-md-2">
          <div id="l0" class="nw small-dice">I</div>
          <div id="l1" class="small-dice">M</div>
          <div id="l2" class="small-dice">D</div>
          <div id="l3" class="ne small-dice">R</div>
          <div style="clear: left"></div>
          <div id="l4" class="small-dice">R</div>
          <div id="l5" class="small-dice" style="background-color: #DFDF00">E</div>
          <div id="l6" class="small-dice">C</div>
          <div id="l7" class="small-dice">Z</div>
          <div style="clear: left"></div>
          <div id="l8" class="small-dice">E</div>
          <div id="l9" class="small-dice" style="background-color: #FFFF80">S</div>
          <div id="l10" class="small-dice" style="background-color: #FFFF80">E</div>
          <div id="l11" class="small-dice">H</div>
          <div style="clear: left"></div>
          <div id="l12" class="sw small-dice">H</div>
          <div id="l13" class="small-dice">R</div>
          <div id="l14" class="small-dice" style="background-color: #FFFF80">U</div>
          <div id="l15" class="se small-dice" style="background-color: #FFFF80">D</div>
          <div style="clear: left"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <h2>Regeln</h2>
        </div>
        <div class="col-md-8">
          <p>Finde innerhalb von drei Minuten so viele Wörter wie möglich. Dabei müssen die Buchstaben eine Kette bilden. Ein Wort muss mindestens drei Buchstaben lang sein. In einem Wort darf kein Buchstabenfeld mehrfach genutzt werden. Wie im Beispiel zu sehen, sind <b>MEER</b> und <b>DUESE</b> gültige Wörter.</p>
          <p>Die Buchstaben Ä, Ö, Ü und ß gibt es nicht. Sie müssen durch benachbarte AE, OE, UE und SS gebildet werden. Der Buchstabe Q kommt nicht alleine vor. Stattdessen ist ein Buchstabenfeld mit Qu beschriftet. Beide Buchstaben müssen bei der Wortsuche eingetippt werden.</p>
          <h2>Wertung</h2>
          <p>Gewertet werden alle Wörter außer:</p>
          <ul>
            <li>geografische Bezeichnungen</li>
            <li>Eigennamen</li>
            <li>Abkürzungen</li>
          </ul>
          <p>Die in der Rangliste angegebene Stufe (<a href="http://de.wikipedia.org/wiki/Elo-Zahl">Elo-Zahl</a>) eines Spielers errechnet sich aus Spielen, die gegen andere Spieler gespielt wurden. Dabei werden für die Neuberechnung der eigenen Spielstufe, die Stufen der besiegten und siegreichen Gegner einbezogen.</p>
        </div>
        <div class="col-md-4">
          <table class="table">
            <tr><th>Wortlänge</th><th>Wertung</th></tr>
            <tr><td>3 Buchstaben</td><td>1 Punkt</td></tr>
            <tr><td>4 Buchstaben</td><td>1 Punkt</td></tr>
            <tr><td>5 Buchstaben</td><td>2 Punkt</td></tr>
            <tr><td>6 Buchstaben</td><td>3 Punkt</td></tr>
            <tr><td>7 Buchstaben</td><td>5 Punkt</td></tr>
            <tr><td>8+ Buchstaben</td><td>11 Punkte</td></tr>
          </table>
        </div>
      </div>
