<% html = (@words.map do |w| %>
    <% case w[3] %>
      <% when 0 then "<span class=\"noone\">#{w[0]}</span>" %>
      <% when 1 then "<span class=\"someone\">#{w[0]}</span>" %>
      <% when 2 then "<span class=\"self\">#{w[0]}</span>" %>
      <% else "<span class=\"onlyself\">#{w[0]}</span>" %>
    <% end %>
<% end).join(' ') %>
$('div#solution').html('<%= render inline: html %>')
$('td#cwords').html('<%= "#{@cwords} / #{@twords > 0 ? (100*@cwords/@twords).round(0) : 0}%" %>')
$('td#cpoints').html('<%= "#{@cpoints} / #{@tpoints > 0 ? (100*@cpoints/@tpoints).round(0) : 0}%" %>')
$('tbody#score').html('')
<% old_score = 0 %>
<% @scores.each_with_index do |score, i| %>
  <% fat = (score['id'].to_i == current_user.id.to_i) ? 'highlight' : nil %>
  <% if score['sum'] != old_score %>
    <% old_score = score['sum'] %>
    <% tr = "<tr><td class=\"#{fat}\">#{i+1}.</td>" %>
  <% else %>
    <% tr = '<tr><td class=\"#{fat}\">&nbsp;</td>' %>
  <% end %>
  <% tr = tr + "<td class=\"#{fat}\">#{score['name']}</td>" %>
  <% tr = tr + "<td class=\"right #{fat}\">#{score['count']} / #{@twords > 0 ? (100*score['count'].to_i/@twords).round(0) : 0}%</td>" %>
  <% tr = tr + "<td class=\"right #{fat}\">#{score['sum']} / #{@tpoints > 0 ? (100*score['sum'].to_i/@tpoints).round(0) : 0}%</td></tr>" %>
  $('tbody#score').hide()
  $('tbody#score').append('<%= render inline: tr %>').show(400)
<% end %>
