<% if current_user.nil? %>
alert("Das Session-Cookie ist nicht mehr vorhanden, oder kann nicht gelesen werden.");
window.Location.href='/500';
window.location.reload();
<% end %>
<% points = 0 %>
solution_div = $('div#solutiondiv');
guess_div = $('div#guessesdiv');
<% if @words %>
  <% html = (@words.map do |w| %>
    <% out = '' %>
    <% case w[0].length %>
      <% when 3..4 %>
        <% if points != 1 %>
          <% points = 1 %>
          <% out = "<span class=\"pointbadge\">1&nbsp;&#9654;</span> " %>
        <% end %>
      <% when 5 %>
        <% if points != 2 %>
          <% points = 2 %>
          <% out = "<span class=\"pointbadge\">2&nbsp;&#9654;</span> " %>
        <% end %>
      <% when 6 %>
        <% if points != 3 %>
          <% points = 3 %>
          <% out = "<span class=\"pointbadge\">3&nbsp;&#9654;</span> " %>
        <% end %>
      <% when 7 %>
        <% if points != 5 %>
          <% points = 5 %>
          <% out = "<span class=\"pointbadge\">5&nbsp;&#9654;</span> " %>
        <% end %>
      <% else %>
        <% if points != 11 %>
          <% points = 11 %>
          <% out = "<span class=\"pointbadge\">11&nbsp;&#9654;</span> " %>
        <% end %>
      <% end %>
    <% out + "<span class=\"#{w[3]}\">#{w[0]}</span>" %>
  <% end).join(' ') %>
  $('div#solution').html('<%= render inline: html %>');
  $('td#cwords').html('<%= "#{@cwords}" %>');
  $('td#cpoints').html('<%= "#{@cpoints}" %>');
  solution_div.show();
  guess_div.hide();
<% else %>
  solution_div.hide();
  guess_div.show();
<% end %>
<% if @scores %>
  score_table = $('tbody#score');
  score_table.html('');
  <% old_score = 0 %>
  <% @scores.each_with_index do |score, i| %>
    <% fat = (score['id'].to_i == current_user.id.to_i) ? 'highlight' : nil %>
    <% if score['sum'] != old_score and score['count'].to_i > 0 %>
      <% old_score = score['sum'] %>
      <% tr = "<tr><td class=\"#{fat}\">#{i+1}.</td>" %>
    <% else %>
      <% tr = "<tr><td class=\"#{fat}\">&nbsp;</td>" %>
    <% end %>
    <% tr = tr + "<td class=\"#{fat}\"><div class=\"username usr#{score['id']}\" data-uid=\"usr#{score['id']}\">#{score['name']}</div></td>" %>
    <% if score['count'].to_i > 0 %>
      <% tr = tr + "<td class=\"right #{fat}\">#{score['count']}&nbsp;/&nbsp;#{@twords > 0 ? (100*score['count'].to_i/@twords).round(0) : 0}%</td>" %>
      <% tr = tr + "<td class=\"right #{fat}\">#{score['sum']}&nbsp;/&nbsp;#{@tpoints > 0 ? (100*score['sum'].to_i/@tpoints).round(0) : 0}%</td></tr>" %>
    <% else %>
      <% tr = tr + "<td class=\"right #{fat} text-muted\" colspan=\"2\">Zuschauer</td></tr>" %>
    <% end %>
    score_table
        .hide()
        .append('<%= render inline: tr %>').show(400);
  <% end %>
<% end %>
