<% points = 0 %>
<% if @words %>
  <% html = (@words.map do |w| %>
    <% out = '' %>
    <% case w[0].length %>
      <% when 3..4 %>
        <% if points != 1 %>
          <% points = 1 %>
          <% out = "<span class=\"pointbadge\">1&nbsp;&#9654;</span> " %>
        <% end %>
      <% when 5 %>
        <% if points != 2 %>
          <% points = 2 %>
          <% out = "<span class=\"pointbadge\">2&nbsp;&#9654;</span> " %>
        <% end %>
      <% when 6 %>
        <% if points != 3 %>
          <% points = 3 %>
          <% out = "<span class=\"pointbadge\">3&nbsp;&#9654;</span> " %>
        <% end %>
      <% when 7 %>
        <% if points != 5 %>
          <% points = 5 %>
          <% out = "<span class=\"pointbadge\">5&nbsp;&#9654;</span> " %>
        <% end %>
      <% else %>
        <% if points != 11 %>
          <% points = 11 %>
          <% out = "<span class=\"pointbadge\">11&nbsp;&#9654;</span> " %>
        <% end %>
      <% end %>
    <% case w[3] %>
      <% when 0 then out + "<span class=\"noone\">#{w[0]}</span>" %>
      <% when 1 then out + "<span class=\"someone\">#{w[0]}</span>" %>
      <% when 2 then out + "<span class=\"self\">#{w[0]}</span>" %>
      <% else out + "<span class=\"onlyself\">#{w[0]}</span>" %>
    <% end %>
  <% end).join(' ') %>
  $('div#solution').html('<%= render inline: html %>')
  $('td#cwords').html('<%= "#{@cwords}" %>')
  $('td#cpoints').html('<%= "#{@cpoints}" %>')
  $('div#solutiondiv').show()
  $('div#guessesdiv').hide()
<% else %>
  $('div#solutiondiv').hide()
  $('div#guessesdiv').show()
<% end %>
$('tbody#score').html('')
<% old_score = 0 %>
<% @scores.each_with_index do |score, i| %>
  <% fat = (score['id'].to_i == current_user.id.to_i) ? 'highlight' : nil %>
  <% if score['sum'] != old_score %>
    <% old_score = score['sum'] %>
    <% tr = "<tr><td class=\"#{fat}\">#{i+1}.</td>" %>
  <% else %>
    <% tr = '<tr><td class=\"#{fat}\">&nbsp;</td>' %>
  <% end %>
  <% tr = tr + "<td class=\"#{fat}\">#{score['name']}</td>" %>
  <% tr = tr + "<td class=\"right #{fat}\">#{score['count']} / #{@twords > 0 ? (100*score['count'].to_i/@twords).round(0) : 0}%</td>" %>
  <% tr = tr + "<td class=\"right #{fat}\">#{score['sum']} / #{@tpoints > 0 ? (100*score['sum'].to_i/@tpoints).round(0) : 0}%</td></tr>" %>
  $('tbody#score').hide()
  $('tbody#score').append('<%= render inline: tr %>').show(400)
<% end %>
