// Place all the styles related to the sechzehn controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

$muted-gray: #999999;
$sechzehn-bkgnd: #e8f8f9;

//hr.row {
//  margin: 8px 0;
//  border-top: 1px solid #dddddd
//}

.navbar {
  background-color: $sechzehn-bkgnd;
}

.navbar-brand-table {
  display: inline-block;
  text-align: justify;
  text-align-last: justify;
  text-justify: inter-character;
}

.navbar-brand h1 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-right: -10px;
  margin-bottom: 0;
}

.navbar-brand h2 {
  font-size: 14px;
  margin-top: 0;
}

table {
  table-layout: fixed;
}

.pagination {
  > li {
    &.active > a {
      background-color: $sechzehn-bkgnd;
      border-color: #ddd;
      color: #428BCA;
    }
  }
}

.score {
  width: 80px;
}

.counter {
  width: 24px;
}

.wide-counter {
  width: 48px;
}

.username {
  word-wrap: break-word;
  cursor: pointer;
}

.displayinherit {
  display: inherit;
}

.displaynone {
  display: none;
}

.sechzehn-color {
  background-color: $sechzehn-bkgnd;
  clear: both;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.sechzehn-field {
  margin: auto;
  border: 1px solid black;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  background-color: white;
  -ms-touch-action: none;
}

.sechzehn-red {
  color: red;
}

.sechzehn-hidden {
  display: none;
}

.sechzehn {
  letter-spacing: 4px;
  text-transform: uppercase;
}

.letter {
  cursor: default;
  float: left;
  line-height: 70px;
  width: 70px;
  height: 70px;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  font: {
    family: sans-serif, Arial, Verdana, "Trebuchet MS";
    size: 300%;
    weight: 600;
  }
  background-color: white;
}

.nw {
  -moz-border-radius-topleft: 12px;
  -webkit-border-top-left-radius: 12px;
  border-top-left-radius: 12px;
}

.ne {
  -moz-border-radius-topright: 12px;
  -webkit-border-top-right-radius: 12px;
  border-top-right-radius: 12px;
}

.sw {
  -moz-border-radius-bottomleft: 12px;
  -webkit-border-bottom-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.se {
  -moz-border-radius-bottomright: 12px;
  -webkit-border-bottom-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.noone {
  color: $muted-gray;
}

.someone {
  color: black;
}

.self {
  color: black;
  border: 1px solid #ffffa0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #ffffa0;
}

.onlyself {
  color: black;
  border: 1px solid $muted-gray;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #ffffa0;
  padding-left: 1px;
  padding-right: 1px;
}

.guess {
  cursor: pointer;
}

div#guesses, div#solution {
  margin-bottom: 2em;
  text-align: justify;
}

div#solutionheader {
  margin: 0;
  text-align: center;
}

.small-dice {
  @extend .letter;
  font-size: 100%;
  line-height: 30px;
  width: 30px;
  height: 30px;
}

.highlight {
  background-color: #e8f8f9;
}

.length-hint {
  position: relative;
  display: inline-block;
  z-index: 3;
  margin-top: -22px;
  background-color: white;
  height: 16px;
  padding: 2px 3px;
  font-size: 10px;
  line-height: 10px;
  color: #555555;
  vertical-align: middle;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

  .input-prepend > & {
    margin-top: -30px;
  }

  & + a.btn {
    position: relative;
    left: 7px;
  }

}

.pointbadge {
  background-color: $sechzehn-bkgnd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ddd;
  color: black;
  padding-left: 1px;
  padding-right: 1px;
}

.resizable-chat {
  width: auto;
  height: 16em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ddd;
  overflow: auto;
  padding: 8px;
}

#resizable-chat {
  width: auto;
  height: 16em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ddd;
  resize: vertical;
  overflow: auto;
  padding: 8px;

  > div {
    > span.username {
      font-size: 75%;
      padding: 1px 4px 1px 4px;
      margin-right: 4px;
      margin-bottom: 2px;
      display: inline-block;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      background-color: $sechzehn-bkgnd;
      border: solid 1px #ddd;
    }
  }
}

.donate {
  padding: .33rem 0 0 1rem;
  &:hover {
    background-color: $sechzehn-bkgnd;
  }
  & button {
    background-color: #ffd696 !important;
    color: #003087;
    font-style: italic;
    font-weight: bold;
    border: #ff9933 1px solid;
    padding: 2px 4px 2px 4px;
    border-radius: 12px;
    background: -webkit-linear-gradient(#ffd696, #ffefd3);
    background: -o-linear-gradient(#ffd696, #ffefd3);
    background: -moz-linear-gradient(#ffd696, #ffefd3);
    background: linear-gradient(#ffd696, #ffefd3);
  }
}

span.pay {color: #003087; font-weight: normal;}
span.pal {color: #009cde; font-weight: normal;}

