// Place all the styles related to the sechzehn controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$muted-gray: #999999;
$sechzehn-bkgnd: #e8f8f9;

hr.row {
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: 0px;
  margin-right: 0px;
  border-top: 1px solid #dddddd
}

form {
  padding-top: 8px;
  padding-bottom: 8px;
}

nav {
  text-align: center;
}

.pagination {
  > li {
    &.active > a {
      background-color: $sechzehn-bkgnd;
      border-color: #ddd;
      color: #428BCA;
    }
  }
}

.fifty-percent {
  width: 50%;
}

.navbar-header h1 {
  margin-top: 0px;
  display: table-row;
  width: 1px;
  letter-spacing: 8px;
  font-size: 18px;
  text-transform: uppercase;
}

.navbar-header h2 {
  font-size: 66%;
  text-align: justify;
  height: 14px;
  overflow: hidden;
  margin: 0;
}

.subtitlewrapper {
  display: table-cell;
  width: 1px;
  padding-right: 8px;
}

.clear {
  clear: both;
}

.displayinherit {
  display: inherit;
}

.displaynone {
  display: none;
}

div#guess {
  margin-top: 20px;
}

.sechzehn-color {
  background-color: $sechzehn-bkgnd;
  clear: both;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.sechzehn-field {
  margin: auto;
  border: 1px solid black;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  background-color: white;
  -ms-touch-action: none;
}

.sechzehn-red {
  color: red;
}

.sechzehn-hidden {
  display: none;
}

.navbar-default {
  background-color: #e8f8f9 !important;
}

.sechzehn {
  letter-spacing: 4px;
  text-transform: uppercase;
}
.navbar-brand {
  font-size: 150%;
  color: $muted-gray;
  display: table-cell;
  line-height: 16px;
  margin-bottom: -24px;
  margin-top: -4px
}

.fb-like {
  vertical-align: top;
}

.browsergames-info {
  width:87px;
  height:27px;
  display:inline-block;
  margin: 2px 0 0 0;
  font-family:Arial,sans-serif;
  font-size:11px;
  font-weight:bold;
  letter-spacing:0px;
  color:#ffffff;
  text-decoration:none;
  text-align:center;
}

.letter {
  cursor: default;
  float: left;
  line-height: 70px;
  width: 70px;
  height: 70px;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  font: {
    family: sans-serif, Arial, Verdana, "Trebuchet MS";
    size: 300%;
    weight: 600;
  }
  background-color: white;
  -ms-touch-action: none;
}

.end {
  clear: left;
}

.nw {
  -moz-border-radius-topleft: 12px;
  -webkit-border-top-left-radius: 12px;
  border-top-left-radius: 12px;
}

.ne {
  -moz-border-radius-topright: 12px;
  -webkit-border-top-right-radius: 12px;
  border-top-right-radius: 12px;
}

.sw {
  -moz-border-radius-bottomleft: 12px;
  -webkit-border-bottom-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.se {
  -moz-border-radius-bottomright: 12px;
  -webkit-border-bottom-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.noone {
  color: $muted-gray;
}

.someone {
  color: black;
}

.self {
  color: black;
  border: 1px solid #ffffa0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #ffffa0;
}

.onlyself {
  color: black;
  border: 1px solid $muted-gray;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #ffffa0;
  padding-left: 1px;
  padding-right: 1px;
}

div#guesses, div#solution {
  margin-bottom: 2em;
  text-align: justify;
}

div#solutionheader {
  text-align: center;
}

.right {
  text-align: right;
}

.small-dice {
  @extend .letter;
  font-size: 100%;
  line-height: 30px;
  width: 30px;
  height: 30px;
}

.create-account {
  margin-top: 2em;
  font-size: 90%;
  text-align: justify;
  color: $muted-gray;
}

.highlight {
  background-color: #e8f8f9;
}

.length-hint {
  position: relative;
  display: inline-block;
  z-index: 3;
  margin-top: -22px;
  background-color: white;
  height: 16px;
  padding: 2px 3px;
  font-size: 10px;
  line-height: 10px;
  color: #555555;
  vertical-align: middle;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

  .input-prepend > & {
    margin-top: -30px;
  }

  & + a.btn {
    position: relative;
    left: 7px;
  }

}

.pointbadge { font-size: 80%;
  background-color: $sechzehn-bkgnd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ddd;
  color: black;
  padding-left: 1px;
  padding-right: 1px;
}

#resizable-chat {
  width: auto;
  height: 16em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ddd;
  resize: vertical;
  overflow: auto;
  padding: 8px;

  > div {
    > span.username {
      font-size: 75%;
      padding: 1px 4px 1px 4px;
      margin-right: 4px;
      margin-bottom: 2px;
      display: inline-block;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      background-color: $sechzehn-bkgnd;
      border: solid 1px #ddd;
    }
  }
}
