<div class="row">
  <div class="col-md-12">
    <hr />
  </div>
</div>
<div class="row">
  <% if vote %>
  <div class="col-md-1">
    <a href="http://deutsche-browsergames.de/?a=in&amp;u=Wortspiel"><img src="http://deutsche-browsergames.de/button.php?u=Wortspiel" alt="deutsche-browsergames.de" title="Wer mag, kann hier für Sechzehn stimmen" /></a>
  </div>
  <div class="col-md-1">
    <a href="http://www.ibgdb.de/games/like/1204-sechzehn"> <img src="http://www.ibgdb.de/img/magich.gif" alt="Indie Browsergame DB" title="Alle 24 Stunden kann man für die Boggle Variante Sechzehn voten" /></a>
  </div>
  <div class="col-md-1">
    <a href="http://www.webgamers.de/index.php?page=LinkListLink&amp;linkID=281"><img src="http://www.webgamers.de/bilder/vote3" alt="webgamers.de" title="Für Sechzehn abstimmen" /></a>
  </div>
  <div class="col-md-1">
    <span style="width:88px; height:31px; display:inline-block; overflow:hidden; background-image:url(http://www.browsergames.info/images/bgbutton.png); background-repeat:no-repeat; text-align:left;"><a href="http://www.browsergames.info" target="_blank" class="browsergames-info" title="Gib Deine Stimme für den Boggle Clone Sechzehn">browsergames</a></span>
  </div>
  <div class="col-md-1">
    <a href="http://game-toplist.de/vote/Wortspiel.php" rel="#overlayVotingID" class="voting_open" target="_blank"><img src="http://game-toplist.de/voting/01/image.php?id=Wortspiel" alt="Game-Toplist.de" title="Mehr Boggle-Begeisterte anlocken - für Sechzehn stimmen" /></a>
  </div>
  <div class="col-md-1">
    <a href="http://www.kostenlos-browsergame.de/" target="_blank"><img id="kostenlos-browsergame" src="http://www.kostenlos-browsergame.de/img/banner-kostenlos-browsergame1.gif" alt="Gute und kostenlose Browsergames" title="Für das Wortspiel Sechzehn abstimmen"></a>
    <!--
    <script language="JavaScript">function hit(hitlink) {if(document.images) {(new Image()).src=''+hitlink+'';}return true;}</script>
    <a href="http://www.kostenlos-browsergame.de/" onmousedown="return hit('http://www.kostenlos-browsergame.de/in.php?id=222')" target="_blank"><img src="http://www.kostenlos-browsergame.de/img/banner-kostenlos-browsergame1.gif" alt="Gute und kostenlose Browsergames" border="0"></a>
    -->
  </div>
  <div class="col-md-1">
    <a target="_blank" href="http://bg-entwickler-index.dlxg.de/"><img src="http://z-banner.dlxg.de/entwickler-index/88x31.gif" alt="dlxg.de" title="Das Denkspiel Sechzehn auf dlxg.de"/></a><img src="http://bg-entwickler-index.dlxg.de/button.php?u=Wortspiel" alt="dlxg.de" title="Die Boggle-Variante Sechzehn auf dlxg.de" />
  </div>
  <% end %>
  <div class="col-md-4 pull-right right">
    <span class="fb-like" data-href="https://www.facebook.com/pages/Sechzehn/1450963481800607" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></span>
    <a class="g-plusone" data-size="medium" href="http://spiele.sechzehn.org/"></a>
  </div>
</div>
