<div class="row">
  <div class="col-md-12">
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-md-1">
    <a href="http://deutsche-browsergames.de/?a=in&u=Wortspiel"><img src="http://deutsche-browsergames.de/button.php?u=Wortspiel" alt="deutsche-browsergames.de" border="0" /></a>
  </div>
  <div class="col-md-1">
    <a href="http://www.ibgdb.de/games/like/1204-sechzehn"> <img src="http://www.ibgdb.de/img/magich.gif" alt="Ich mag Sechzehn" border="0" /></a>
  </div>
  <div class="col-md-1">
    <a href="http://www.webgamers.de/index.php?page=LinkListLink&amp;linkID=281"><img src="http://www.webgamers.de/bilder/vote3" alt="" /></a>
  </div>
  <div class="col-md-1">
    <span style="width:88px; height:31px; display:inline-block; overflow:hidden; background-image:url(http://www.browsergames.info/images/bgbutton.png); background-repeat:no-repeat; text-align:left;"><a href="http://www.browsergames.info" target="_blank" style="width:87px; height:27px; display:inline-block; margin: 2px 0 0 0; font-family:Arial,sans-serif; font-size:11px; font-weight:bold; letter-spacing:0px; color:#ffffff; text-decoration:none; text-align:center;">browsergames</a></span>
  </div>
  <div class="col-md-1">
    <script language="Javascript" type="text/javascript" src="http://game-toplist.de/voting/vote.php?id=Wortspiel&type=js&style=01&overlay=1"></script>
  </div>
  <div class="col-md-1">

  </div>
  <div class="col-md-6 right-justify">
      <span class="fb-like" data-href="https://www.facebook.com/pages/Sechzehn/1450963481800607" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></span>
      <span class="g-plusone" data-size="medium" href="http://spiele.sechzehn.org/"></span>
  </div>
</div>
