<% i=0 %>
<% @field.each do |row| %>
  <% j=0 %>
  <% row.each do |letter| %>
    <div id="<%= "l#{"%.02i" % i}" %>" class="letter<%= ' end' if j==0 %><%= " #{letter[0]}" unless letter[0].nil? %>">
      <% if letter[1] != 'qu' %>
        <%= letter[1].upcase %>
      <% else %>
        Qu
      <% end %>
      <% i=i+1 %>
      <% j=j+1 %>
    </div>
  <% end %>
<% end %>
<br class="clear" />

