<table class="table table-condensed">
  <colgroup>
    <col class="counter"/>
    <col />
    <col class="score" />
  </colgroup>
  <thead>
    <tr>
      <th colspan="2">
        <% case @highscore[:which] %>
        <% when 3 %>
          Tagesrangliste
        <% when 2 %>
          Wochenrangliste
        <% when 1 %>
          <%= %w(Januar Februar März April Mai Juni Juli August September Oktober November Dezember)[Date.today.month-1] + ' Top 10' %>
        <% else %>
          Ewige Rangliste
        <% end %>
      </th>
      <th class="right">
        <% case highscore_type %>
        <% when 'elo' %>
          Elo-Zahl
        <% when 'ppoints' %>
          <span title="Durchschnittliche Punkte pro Spiel in Prozent">&Oslash;&nbsp;Punkte</span>
        <% else %>
          N/A
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% old_score = 0 %>
    <% @scores.each_with_index do |score, i| %>
      <tr>
        <% if old_score != score[highscore_type] %>
          <td><%= i+1 %>.</td>
          <% old_score = score[highscore_type] %>
        <% else %>
          <td>&nbsp;</td>
        <% end %>
        <td><div class="username"><%= score['name'] %></div></td>
        <td class="right"><%= score[highscore_type].to_f.round(1) %> %</td>
      </tr>
    <% end %>
  </tbody>
</table>